<div class="list-groups">
    {% for content in data[1] %}
        <div class="list-group col-md-12">
            <table class="table-cv list-group-table">
                <tbody>
                <tr>
                    {% if content.icon %}
                        <td class="list-group-category-icon">
                            <i class="{{ content.icon }}"></i>
                        </td>
                    {% else %}
                        <td class="list-group-category-icon"></td>
                    {% endif %}
                    <!-- Calculate colspan number for category title -->
                    {% assign i = 1 %}
                    {% for item in content.items %}
                        {% assign i = i | plus: 1 %}
                    {% endfor %}
                    <td colspan="{{ i }}" class="list-group-category">
                        <a href={{ content.url }}>{{ content.name }}</a>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td class="list-group-name">
                        <h6 style="font-size: 0.95rem">{{ content.title }}</h6>
                        <h6><i style="font-size: 0.85rem">{{ content.relationship }}</i></h6>

                        <b>{{ content.reference }}</b>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    {% endfor %}
</div>